.button {
    background-color: #f32c2c; 
    border: none;
    color: white;
    padding: 10px 30px;
    margin:3px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

